@page "/"
@using DatingApp.Data.Models
@using DatingApp.Services
@inject UserService UserService
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1 class="text-3xl">Hello, world!</h1>

Welcome to your new app.


@code {
}