@using DatingApp.Services
@inherits LayoutComponentBase

<div class="page">
    <main>
        <Navbar></Navbar>
        <article class="px-4">
            @Body
        </article>
    </main>
</div>

@code
{
}
