<button disabled="@(ButtonStyle == Style.Disabled)" class="px-2 py-1.5 rounded border transition duration-300 ease-in-out @_styles" @onclick="OnClickCallback">@ChildContent</button>

@code {
    [Parameter] public required RenderFragment ChildContent { get; set; }
    
    [Parameter]
    public Style ButtonStyle { get; set; } = Style.Blue;

    private string _styles = "";
    
    [Parameter]
    public EventCallback OnClickCallback { get; set; }
    
    public enum Style
    {
        Green,
        Red,
        Blue,
        Disabled
    }
    
    protected override void OnParametersSet()
    {
        _styles = ButtonStyle switch
        {
            Style.Green => "bg-green-500 hover:bg-green-700 text-white",
            Style.Red => "bg-red-500 hover:bg-red-700 text-white",
            Style.Blue => "bg-blue-500 hover:bg-blue-700 text-white",
            Style.Disabled => "bg-slate-50 text-slate-500 border-slate-200 shadow-none",
            _ => "bg-blue-500 hover:bg-blue-700 text-white"
        };
    }

}